.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 30%;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar-color {
    background-color: #AADB1D;
}

.color {
    background-color: #AADB1D;
}

.white-icon {
    color: #333777;
}


/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */

.white-icon svg {
    fill: #333777;
}

.text-white-p {
    color: #333777;
}

.example-spacer {
    flex: 1 1 auto;
}

.img-perfil {
    border-radius: 50px;
    padding: 10px;
}

.name-perfil {
    padding: 10px;
    font-weight: bold;
    font-size: small;
}

mat-toolbar {
    background-color: #AADB1D !important;
}

.color {
    background-color: #AADB1D;
    border: 0px;
}