<mat-toolbar style="background-color: #FFFFFF;">
    <span style="text-align: center; width: 100%;">Portal Meli Envios</span>
    <hr>
</mat-toolbar>
<!-- <mat-divider></mat-divider> -->
<mat-nav-list *ngFor="let item of menuItems">
    <mat-accordion *ngIf="item.children != undefined">
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="{{item.class}} mr-3">{{item.icon}}</mat-icon>{{item.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item *ngFor="let child of item.children">
                <a class="menu-item" mat-list-item routerLink="{{child.path}}">
                    <mat-icon class="{{child.class}} mr-3">{{child.icon}}</mat-icon>{{child.title}}
                </a>
            </mat-list-item>
        </mat-expansion-panel>
    </mat-accordion>
    <a class="menu-item" *ngIf="item.children == undefined" mat-list-item routerLink="{{item.path}}">
        <mat-icon class="{{item.class}} mr-3">{{item.icon}}</mat-icon>{{item.title}}
    </a>
</mat-nav-list>