.dashboard-container {
    -webkit-box-shadow: 0 2px 3px -1px rgb(0 0 0 / 35%);
    box-shadow: 0 2px 3px -1px rgb(0 0 0 / 35%);
    display: -webkit-flex;
    display: flex;
    position: relative;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


div {
    display: block;
}

.kraken-body {
    font-size: 13px;
}

body {
    -webkit-flex-direction: column;
    flex-direction: column;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    min-height: 100vh;
}

body,
html {
    font-size: 13px;
    margin: 0;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}



.dashboard-container .sla-table {
    width: 45%;
}

.sla-table {
    -webkit-box-shadow: 6px 0 4px -4px rgb(0 0 0 / 35%);
    box-shadow: 6px 0 4px -4px rgb(0 0 0 / 35%);
    z-index: 1;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

folha de estilo do user agent div {
    display: block;
}

.dashboard-container .etd-table .etd-table__row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.sla-table .etd-table__header:first-of-type {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.sla-table .etd-table__header {
    background: #e6e6e6;
    border-color: #e6e6e6 #d8d8d8 #b3b3b3 #e6e6e6;
    border-style: solid;
    border-width: 1px;
}

.sla-table .first_column {
    max-width: 30%;
    min-width: 30%;
}

.sla-table .first_column,
.sla-table .second_column {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

div {
    text-align: -webkit-center;
}

.dashboard-container .etd-table .etd-table__row .sub-grid {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.sla-table .etd-table__header {
    background: #e6e6e6;
    border-color: #e6e6e6 #d8d8d8 #b3b3b3 #e6e6e6;
    border-style: solid;
    border-width: 1px;
}

.dashboard-container .etd-table .etd-table__row.header .main-column {
    -webkit-align-items: center;
    align-items: center;
    color: #333;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: 600;
    height: 60px;
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sla-table .etd-table__header .main-column {
    border-bottom: 1px solid #d8d8d8;
}

.label,
.total {
    width: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

dashboard-container .etd-table .etd-table__body {
    position: relative;
    -webkit-transition: height .5s;
    transition: height .5s;
}

.sla-expired-orders {
    background-color: #f5f5f5;
}

.dashboard-container .etd-table .etd-table__row.body.main-row {
    border-bottom: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row.body {
    -webkit-align-items: center;
    align-items: center;
    height: 50px;
}

.dashboard-container .etd-table .etd-table__row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.dashboard-container .etd-table .etd-table__row.body.main-row {
    border-bottom: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row.body {
    -webkit-align-items: center;
    align-items: center;
    height: 50px;
}

.dashboard-container .etd-table .etd-table__row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.dashboard-container .etd-table .etd-table__row.body.main-row .etd-table__column {
    background: #fff;
    border-right: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.sla-table .main-row .first_column {
    padding-left: 20px;
}

.sla-table .main-row .first_column,
.sla-table .main-row .second_column {
    font-weight: 600;
}

.sla-table .first_column {
    max-width: 30%;
    min-width: 30%;
}

.sla-table .first_column,
.sla-table .second_column {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
}

.dashboard-container .etd-table .etd-table__row.body.main-row .etd-table__column {
    background: #fff;
    border-right: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row .sub-grid {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row.body .sub-grid__container,
.dashboard-container .etd-table .etd-table__row.body .sub-grid__container .sub-grid__child {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.dashboard-container .etd-table .etd-table__row.body.main-row .etd-table__column .sub-grid__container .sub-grid__child:not(:last-child) {
    border-right: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row.body .sub-grid__container,
.dashboard-container .etd-table .etd-table__row.body .sub-grid__container .sub-grid__child {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container .sub-grid__child {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.sla-table .disabled {
    background: #e6e6e6;
    color: #a7a7a7;
}

.sla-table .sub-grid__child {
    min-width: 75px;
}

.sla-table .disabled {
    background: #e6e6e6;
    color: #a7a7a7;
}

.dashboard-container .etd-table .etd-table__row.body.main-row .etd-table__column .sub-grid__container .sub-grid__child:not(:last-child) {
    border-right: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row.body .sub-grid__container,
.dashboard-container .etd-table .etd-table__row.body .sub-grid__container .sub-grid__child {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container .sub-grid__child {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.sla-table .main-row .pending_groups {
    font-weight: 600;
}

.sla-table .sub-grid__child {
    min-width: 75px;
}

.dashboard-container .etd-table .etd-table__row.body.main-row .etd-table__column .sub-grid__container .sub-grid__child:not(:last-child) {
    border-right: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row.body .sub-grid__container,
.dashboard-container .etd-table .etd-table__row.body .sub-grid__container .sub-grid__child {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container .sub-grid__child {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.sla-table .sub-grid__child {
    min-width: 75px;
}

.dashboard-container .etd-table .etd-table__row.body .sub-grid__container,
.dashboard-container .etd-table .etd-table__row.body .sub-grid__container .sub-grid__child {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container .sub-grid__child {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.sla-table .disabled {
    background: #e6e6e6;
    color: #a7a7a7;
}

.sla-table .sub-grid__child {
    min-width: 75px;
}

.dashboard-container .etd-table .etd-table__row.body.main-row .etd-table__column {
    background: #fff;
    border-right: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row .sub-grid {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.sla-expired-orders__column {
    background-color: #f5f5f5 !important;
}

.sla-expired-orders__performance {
    border-right: 1px solid #e2e2e2;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    width: 33.3%;
    border-bottom: 1px solid #e2e2e2;
}

.sla-expired-orders__etd-units-link,
.sla-expired-orders__performance {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-weight: 600;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.sla-table .main-row .first_column {
    padding-left: 20px;
}

.sla-table .main-row .first_column,
.sla-table .main-row .second_column {
    font-weight: 600;
}

.sla-table .first_column {
    max-width: 30%;
    min-width: 30%;
}

.sla-table .first_column,
.sla-table .second_column {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
}

.sla-expired-orders__column:first-child {
    max-width: 47.5% !important;
    width: 47.5%;
}

.sla-expired-orders__column {
    background-color: #f5f5f5 !important;

}

.sla-expired-orders__performance.sla-column {
    background: rgba(242, 61, 79, .2);
    color: #a61d33;
}

.sla-expired-orders__performance {
    border-right: 1px solid #e2e2e2;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    width: 33.3%;
}

.sla-expired-orders__etd-units-link,
.sla-expired-orders__performance {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-weight: 600;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.sla-expired-orders__performance.sla-column {
    background: rgba(242, 61, 79, .2);
    color: #a61d33;
}

.andes-badge--large.andes-badge--standard {
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.andes-badge--error--quiet {
    background: rgba(242, 61, 79, .1);
    border: 0;
}

.andes-badge--error {
    background: #f23d4f;
}

.andes-badge--pill {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    display: inline-block;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.sla-expired-orders__etd-units-link,
.sla-expired-orders__performance {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-weight: 600;
}

.sla-expired-orders__etd-units-link {
    margin-left: 28px;
}

.wms-link,
a {
    color: #3483fa;
    cursor: pointer;
    text-decoration: none;
}

.sla-table .danger {
    background: #ffdfe3;
    color: #f23d4f;
    font-weight: 600;
}

.sla-table .success {
    background: #c7e2cc;
    color: #00a650;
    font-weight: 600;
}

.sla-table .sub-grid__child {
    min-width: 75px;
}

.sla-table .warning {
    background: #ffe5d9;
    color: #f73;
    font-weight: 600;
}

.kraken-body .andes-button {
    height: 100%;
}

.dropdown-button {
    font-size: 14px;
    padding: 10px 0;
}

.andes-button--transparent,
.andes-button--transparent:focus,
.andes-button--transparent:link,
.andes-button--transparent:visited {
    background-color: transparent;
    border-color: transparent;
    color: #3483fa;
}

.andes-button--transparent {
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-out, -webkit-box-shadow .25s ease-out;
    transition: background-color .2s ease-out, -webkit-box-shadow .25s ease-out;
    transition: box-shadow .25s ease-out, background-color .2s ease-out;
    transition: box-shadow .25s ease-out, background-color .2s ease-out, -webkit-box-shadow .25s ease-out;
}

.andes-button--small {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    border-bottom: 1px solid #e2e2e2;
}

.andes-button,
.andes-button * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.andes-button {
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    text-align: center;
    -webkit-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-transition-property: background, color;
    transition-property: background, color;
    width: auto;
    border-bottom: 1px solid #e2e2e2;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

folha de estilo do user agent button {
    appearance: auto;
    writing-mode: horizontal-tb !important;

    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.dashboard-container .processes-table {
    width: 55%;
}

.processes-table {
    overflow-x: auto;
}

.dashboard-container .etd-table .etd-table__row.header {
    -webkit-align-items: stretch;
    align-items: stretch;
}

.dashboard-container .etd-table .etd-table__row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

}

dashboard-container .etd-table .etd-table__row .sub-grid {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.processes-table .etd-table__header {
    background: #d5d5d5;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-top-color: #d5d5d5;
    border-bottom: 1px solid #e2e2e2;

}

.dashboard-container .etd-table .etd-table__row .sub-grid {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.processes-table .etd-table__header {
    background: #d5d5d5;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-top-color: #d5d5d5;
    border-bottom: 1px solid #e2e2e2;
}

dashboard-container .etd-table .etd-table__row.header .main-column {
    -webkit-align-items: center;
    align-items: center;
    color: #333;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: 600;
    height: 60px;
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.processes-table .etd-table__header .main-column {
    border-bottom: 1px solid #b3b3b3;
}

.label,
.total {
    width: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;

}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.dashboard-container .etd-table .etd-table__row .sub-grid {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.processes-table .etd-table__header {
    background: #d5d5d5;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-top-color: #d5d5d5;
}

.dashboard-container .etd-table .etd-table__row.body.main-row {
    border-bottom: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row.body {
    -webkit-align-items: center;
    align-items: center;
    height: 50px;
}

.dashboard-container .etd-table .etd-table__row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

}

.dashboard-container .etd-table .etd-table__row.body.main-row .etd-table__column {
    background: #fff;
    border-right: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row .sub-grid {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row.body.main-row .etd-table__column {
    background: #fff;
    border-right: 1px solid #e2e2e2;

}

.dashboard-container .etd-table .etd-table__row .sub-grid {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.dashboard-container .etd-table .etd-table__row .etd-table__column,
.dashboard-container .etd-table .etd-table__row .etd-table__header {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row.body .sub-grid__container,
.dashboard-container .etd-table .etd-table__row.body .sub-grid__container .sub-grid__child {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;

}

.dashboard-container .etd-table .etd-table__row.body .sub-grid__container,
.dashboard-container .etd-table .etd-table__row.body .sub-grid__container .sub-grid__child {
    height: 100%;
}

.dashboard-container .etd-table .etd-table__row .sub-grid .sub-grid__container .sub-grid__child {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    border-bottom: 1px solid #e2e2e2;
}

.processes-table .sub-grid__child {
    min-width: 130px;
}

.process-table-expired-orders .process-status-group__item .status-process {
    color: #a61d33;
}

.processes-table a {
    color: #333;
}

.wms-link,
a {
    color: #3483fa;
    cursor: pointer;
    text-decoration: none;
}

.process-table-expired-orders .process-status-group__item:not(:last-child) {
    border-right: 1px solid #e2e2e2;

}

.process-table-expired-orders .process-status-group__item {
    min-width: 130px;
    width: 100%;
}

.process-table-expired-orders .process-status-group,
.process-table-expired-orders .process-status-group__item {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    border-bottom: 1px solid #e2e2e2;
}

.dashboard-container .etd-table .etd-table__row.body.main-row {
    border-bottom: 1px solid #e2e2e2;
}

.filters-section {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dropdown-select {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
}

.andes-dropdown {
    -webkit-font-smoothing: antialiased;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    position: relative;
}

.sla-report {
    -webkit-align-items: center;
    align-items: center;
    background: #f5f5f5;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    height: 56px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 24px;
    margin-top: 10px;
    width: 100%;
}

.sla-report .sla-report__percentage {
    height: 30px;
    margin-left: 20px;
    width: 30px;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.circleChart .circle-bg {
    fill: none;
    stroke: #dfdfdf;
    stroke-width: 3;
}

/* element.style {
    stroke: #3483fa;

} */

.circleChart .circle {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    -webkit-animation: progress 1s ease-out forwards;
    animation: progress 1s ease-out forwards;
}

.sla-report .sla-report__title {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    margin-left: 20px;
}

.sla-report .sla-report__title .sla-report__title__main {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.sla-report .sla-report__title .sla-report__title__percentage {
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
}

.sla-report .arrow {
    margin-left: 10px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.filters-section .totals {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.sla-report .totals {
    -webkit-flex-grow: unset !important;
    flex-grow: unset !important;
    font-size: 14px;
    margin-left: 10px;
}

.totals {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-size: 12px;
    -webkit-justify-content: center;
    justify-content: center;
}

.totals .totals__item:first-child {
    padding-left: 0;
}

.totals .totals__item {
    border-right: 1px solid #000;
    padding: 0 20px;
}

.remaining-time-filter {
    margin-bottom: 24px;
    width: 100%;
}

.remaining-time-filter .remaining-time-filter__title {
    color: #929292;
    font-size: 14px;
    margin-top: 0;
}


.remaining-time-filter .remaining-time-filter__filters {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


div {
    display: block;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter {
    background: #fff;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    font-family: inherit;
    padding: 15px 30px 20px;
    position: relative;
    text-align: initial;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    width: 24%;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__border-left.in_time {
    background: #00a650;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__border-left {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__quantity.in_time {
    color: #00a650;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__quantity {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    font-weight: 600;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__description,
.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    color: #333;
    font-size: 12px;
    margin: 0;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__description,
.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    color: #333;
    font-size: 12px;
    margin: 0;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter {
    background: #fff;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    font-family: inherit;
    padding: 15px 30px 20px;
    position: relative;
    text-align: initial;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    width: 24%;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__border-left.warning {
    background: #f73;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__border-left {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}


.remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__quantity.warning {
    color: #f73;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__quantity {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    font-weight: 600;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__description,
.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    color: #333;
    font-size: 12px;
    margin: 0;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__description,
.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    color: #333;
    font-size: 12px;
    margin: 0;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter {
    background: #fff;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    font-family: inherit;
    padding: 15px 30px 20px;
    position: relative;
    text-align: initial;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    width: 24%;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__border-left.danger {
    background: #f23d4f;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__border-left {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__quantity.danger {
    color: #f23d4f;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__quantity {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    font-weight: 600;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__description,
.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    color: #333;
    font-size: 12px;
    margin: 0;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__description,
.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    color: #333;
    font-size: 12px;
    margin: 0;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter {
    background: #fff;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    font-family: inherit;
    padding: 15px 30px 20px;
    position: relative;
    text-align: initial;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    width: 24%;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__border-left.past_due {
    background: #d12440;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__border-left {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__quantity.past_due {
    color: #d12440;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__quantity {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    font-weight: 600;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__description,
.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    color: #333;
    font-size: 12px;
    margin: 0;
}

.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__description,
.remaining-time-filter .remaining-time-filter__filters .remaining-time-filter__filters__filter .remaining-time-filter__filters__filter__label {
    color: #333;
    font-size: 12px;
    margin: 0;
}

filters-section .radio-group-filter {
    margin-right: 40px;
}

.radio-group-filter.inline-mode {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.filters-section .radio-group-filter {
    margin-right: 40px;
}

.radio-group-filter.inline-mode {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: inline-flex;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

div {
    display: block;
}

.radio-group-filter .andes-radio {
    font-size: 14px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.andes-radio--inline {
    display: -webkit-inline-flex;
    display: inline-flex;
}

.andes-radio {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 18px;
    padding: 5px 16px 5px 6px;
}

.radio-group-filter .andes-radio {
    font-size: 14px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.andes-radio--inline+.andes-radio--inline {
    margin-left: 16px;
}

.andes-radio--inline {
    display: -webkit-inline-flex;
    display: inline-flex;
}

.andes-radio {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 18px;
    padding: 5px 16px 5px 6px;
}

.filters-section .radio-group-filter {
    margin-right: 40px;
}

.radio-group-filter.inline-mode {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: inline-flex;
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.dropdown-select {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
}

.andes-dropdown {
    -webkit-font-smoothing: antialiased;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    position: relative;
}

.filters-section .totals {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.totals {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-size: 12px;
    -webkit-justify-content: center;
    justify-content: center;
}

totals .totals__item:first-child {
    padding-left: 0;
}

.totals .totals__item {
    border-right: 1px solid #000;
    padding: 0 20px;
}

.dashboard-container .etd-table .etd-table__row.header .sub-grid__child {
    font-size: 12px;
    height: 50px;
    padding: 6px 0;
}

.processes-table .etd-table__header .sub-grid__child {
    border-right: 1px solid #b3b3b3;
    color: #6f6f6f;
    font-weight: 600;
    line-height: 12px;
}

.dashboard-container .etd-table .etd-table__row.header .sub-grid__child {
    font-size: 12px;
    height: 50px;
    padding: 6px 0;
}

.sla-table .etd-table__header .sub-grid__child {
    border-right: 1px solid #d8d8d8;
    font-weight: 500;
    line-height: 15px;
    opacity: .8;
}